 .screen .item{
  background-color:#5fba7d;
}

.phone{
    background-image: url(https://i.imgur.com/d70yBB1.png);
    width: 320px !important;
    height: 620px;
    background-position: -25px 0;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    position: relative;
    top: 48px;
    width: 278px;
    left: 20px;
    height: 100%;
}

.owl-stage-outer, .owl-item, .item{
  height:100%;
}

.owl-stage{
  height:calc(100% - 153px);
}
.owl-dots{
  position: absolute;
  top:570px;
  right:15%;
  left:15%;

}
